/* import custom fonts */

/* ================================================== */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap");
/* ================================================== */

/* ===== body =====*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-os-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fcfcfc;
  background-image: linear-gradient(#fcfcfc, #fbfbfb);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
}

.padding-0 {
  padding: 0 !important;
}

.color-blue {
  color: #003379;
}

.color-green {
  color: #00a65c;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

#top,
#about,
#services,
#pricing,
#blog,
#testimonials,
#contact {
  display: block;
  position: relative;
  top: -70px !important;
  visibility: hidden;
}

button:focus {
  outline: none !important;
}
